main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); 
    background: url('/assets/images/login-bg.jpg') no-repeat center center/cover;
}

.login-container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-top: 0;
    color: #e23636;
    font-size: 28px;
}

.login-container p {
    color: #444;
    margin-bottom: 20px;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    background-color: #e23636;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.login-container button:hover {
    background-color: #c22525;
}

.login-container .footer {
    margin-top: 15px;
    font-size: 14px;
}

.login-container .footer a {
    color: #e23636;
    text-decoration: none;
}

.login-container .footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
    }
}